@import "tailwindcss";

:root {
  --color-primary: #f5f5f5; /* blanco humo */
  --color-secondary: #d0e8f2; /* celeste */
  --color-tertiary: #c4d7e0; /* lavanda */
  --color-quaternary: #fee3ec; /* rosado claro */
  --color-quinary: #f9a8a1; /* rosado */
  --color-senary: #fca5a1; /* rosado claro */
  --color-septenary: #f87171; /* rojo claro */
  --color-octonary: #ef4444; /* rojo */
  --color-nonary: #dc2626; /* rojo oscuro */
}

* {
  box-sizing: border-box;
}
